

.post {

    background-color: white;    
    margin-top: 20px;
    max-width: 600px;
    border: 1px solid lightgray;
    margin-bottom: 50px;
    padding-bottom: 10px;;
  

}

.post__img {

    width: 100%;
    object-fit: contain;

}


.post__avatar {

    height: 100px;
    width: 100px;
    margin-right: 7px;
}

.post__header {

    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray; 
       
   
}



.post__comment {

    max-width: 600px;
    display: flex;
    height: 40px;
    

}


.post__comment .comment__text {

    flex: 1;
    width: 550px;
    height: 47px;
    border: none;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.comment__text:focus {

    outline: none;
}

.post__comment .comment__btn {

    flex: 0;
    height: 35px;
    border: none;
    height: 47px;
    outline: 1px;
}




